.container {
  max-width: 1300px;
  padding: 0 20px;
  margin: 0 auto;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

.header .container {
  width: 100%;
}
.header__topheader {
  width: 100%;
  padding: 16px 0;
  display: flex;
  justify-content: space-between;
}
.header__topheader__left a {
  margin-right: 1.56vw;
  font-family: Open Sans;
  font-size: 16px;
  font-weight: 400;
  line-height: 16.34px;
  text-align: left;
  color: #0e0d0d;
}
.header__topheader__left a:first-child {
  color: #41843a;
}
.header__topheader__left a:last-child {
  margin-right: 0;
}
.header__topheader__right a {
  margin-right: 1.56vw;
  font-family: Open Sans;
  font-size: 16px;
  font-weight: 400;
  line-height: 16.34px;
  text-align: left;
  color: #41843a;
}
.header__topheader__right a:last-child {
  margin-right: 0;
}
.header__box {
  display: none;
}
.header__header {
  width: 100%;
  padding: 40px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__header__box {
  padding: 12px;
  border: 2px solid rgba(0, 0, 0, 0.1607843137);
  border-radius: 15px;
  background-color: rgba(0, 0, 0, 0.031372549);
  gap: 14px;
  display: flex;
  align-items: center;
}
.header__header__box-select {
  border: none;
  background-color: transparent;
  outline: none;
  border-right: 2px solid rgba(0, 0, 0, 0.6078431373);
  padding-right: 7px;
}
.header__header__box-input {
  border: none;
  background-color: transparent;
  outline: none;
}
.header__header__right {
  position: relative;
}
.header__header__right-span {
  padding: 3px;
  background-color: red;
  color: #ffffff;
  font-size: 6px;
  border-radius: 50%;
  position: absolute;
  bottom: -3px;
  left: 22px;
  font-family: open sans;
}
.header__header__right-img {
  padding-right: 10px;
}

#myInput {
  transition: placeholder 1s ease-in-out;
  animation: fadeInOut 1s ease-in-out;
}

@keyframes fadeInOut {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 2;
  }
  100% {
    opacity: 0;
  }
}
@media screen and (max-width: 760px) {
  .header .container {
    width: 100%;
  }
  .header__topheader {
    width: 100%;
    padding: 16px 0;
    display: flex;
    justify-content: space-between;
  }
  .header__topheader__left a {
    margin-right: 1.56vw;
    font-family: Open Sans;
    font-size: 12px;
    font-weight: 400;
    line-height: 16.34px;
    text-align: left;
    color: #0e0d0d;
  }
  .header__topheader__left a:first-child {
    color: #41843a;
  }
  .header__topheader__left a:last-child {
    margin-right: 0;
  }
  .header__topheader__right a {
    margin-right: 1.56vw;
    font-family: Open Sans;
    font-size: 12px;
    font-weight: 400;
    line-height: 16.34px;
    text-align: left;
    color: #41843a;
  }
  .header__topheader__right a:last-child {
    margin-right: 0;
  }
  .header__header {
    padding: 40px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .header__header__box {
    border: 2px solid rgba(0, 0, 0, 0.1607843137);
    border-radius: 15px;
    background-color: rgba(0, 0, 0, 0.031372549);
    gap: 7px;
    display: flex;
    align-items: center;
  }
  .header__header__box-select {
    border: none;
    background-color: transparent;
    outline: none;
    font-size: 13px;
    width: 100px;
  }
  .header__header__box-input {
    border: none;
    background-color: transparent;
    outline: none;
    font-size: 13px;
  }
  .header__header__box__right {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
  }
}
@media screen and (max-width: 580px) {
  .header .container {
    width: 100%;
  }
  .header__topheader {
    width: 100%;
    padding: 16px 0;
    display: flex;
    justify-content: space-between;
  }
  .header__topheader__left a {
    margin-right: 1.56vw;
    font-family: Open Sans;
    font-size: 12px;
    font-weight: 400;
    line-height: 16.34px;
    text-align: left;
    color: #0e0d0d;
  }
  .header__topheader__left a:first-child {
    color: #41843a;
  }
  .header__topheader__left a:last-child {
    margin-right: 0;
  }
  .header__topheader__right a {
    margin-right: 1.56vw;
    font-family: Open Sans;
    font-size: 12px;
    font-weight: 400;
    line-height: 16.34px;
    text-align: left;
    color: #41843a;
  }
  .header__topheader__right a:last-child {
    margin-right: 0;
  }
  .header__header {
    padding: 40px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .header__header__box {
    padding: 5px;
    border: 2px solid rgba(0, 0, 0, 0.1607843137);
    border-radius: 15px;
    background-color: rgba(0, 0, 0, 0.031372549);
    gap: 7px;
    display: flex;
    align-items: center;
  }
  .header__header__box-select {
    border: none;
    background-color: transparent;
    outline: none;
    font-size: 13px;
    width: 100px;
    display: none;
  }
  .header__header__box-input {
    border: none;
    background-color: transparent;
    outline: none;
    font-size: 13px;
  }
  .header__header__box__right {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
  }
}
@media screen and (max-width: 550px) {
  .header .container {
    width: 100%;
  }
  .header__topheader {
    width: 100%;
    padding: 16px 0;
    display: flex;
    justify-content: space-between;
  }
  .header__topheader__left a {
    margin-right: 1.56vw;
    font-family: Open Sans;
    font-size: 9px;
    font-weight: 400;
    line-height: 16.34px;
    text-align: left;
    color: #0e0d0d;
  }
  .header__topheader__left a:first-child {
    color: #41843a;
  }
  .header__topheader__left a:last-child {
    margin-right: 0;
  }
  .header__topheader__right a {
    margin-right: 1.56vw;
    font-family: Open Sans;
    font-size: 9px;
    font-weight: 400;
    line-height: 16.34px;
    text-align: left;
    color: #41843a;
  }
  .header__topheader__right a:last-child {
    margin-right: 0;
  }
  .header__header {
    padding: 40px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .header__header__box {
    padding: 5px;
    border: 2px solid rgba(0, 0, 0, 0.1607843137);
    border-radius: 15px;
    background-color: rgba(0, 0, 0, 0.031372549);
    gap: 7px;
    display: flex;
    align-items: center;
  }
  .header__header__box-select {
    border: none;
    background-color: transparent;
    outline: none;
    font-size: 13px;
    width: 100px;
    display: none;
  }
  .header__header__box-input {
    border: none;
    background-color: transparent;
    outline: none;
    font-size: 13px;
  }
  .header__header__box__right {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
  }
}
@media screen and (max-width: 470px) {
  .header .container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .header__topheader {
    width: 100%;
    padding-top: 16px;
    padding-bottom: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .header__topheader__left a {
    margin-right: 1.56vw;
    font-family: Open Sans;
    font-size: 8px;
    font-weight: 400;
    line-height: 16.34px;
    text-align: left;
    color: #0e0d0d;
  }
  .header__topheader__left a:first-child {
    color: #41843a;
  }
  .header__topheader__left a:last-child {
    margin-right: 0;
  }
  .header__topheader__right a {
    margin-right: 1.56vw;
    font-family: Open Sans;
    font-size: 8px;
    font-weight: 400;
    line-height: 16.34px;
    text-align: left;
    color: #41843a;
  }
  .header__topheader__right a:last-child {
    margin-right: 0;
  }
  .header__box {
    margin-top: 20px;
    padding: 10px;
    border-radius: 17px;
    display: flex;
    border: none;
    border: 2px solid rgba(88, 88, 88, 0.4705882353);
  }
  .header__box-select {
    border: none;
  }
  .header__box-input {
    border: none;
  }
  .header__header {
    padding: 40px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .header__header__box {
    padding: 0;
    border: none;
    border-radius: 0;
    background-color: rgba(0, 0, 0, 0.031372549);
    gap: 7px;
    display: flex;
    align-items: center;
    display: none;
  }
  .header__header__box-select {
    border: none;
    background-color: transparent;
    outline: none;
    font-size: 13px;
    width: 100px;
  }
  .header__header__box-input {
    border: none;
    background-color: transparent;
    outline: none;
    font-size: 13px;
  }
  .header__header__box__right {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
  }
}
.nav {
  padding-top: 16px;
  padding-bottom: 9px;
  background-color: #f6f6f6;
  width: 100%;
}
.nav-select {
  border: none;
  background-color: transparent;
  outline: none;
  margin-bottom: 7px;
  padding: 0 5px;
}
.nav-option {
  font-family: Poppins;
  font-size: 15px;
  font-weight: 700;
  line-height: 22.5px;
  text-align: left;
}

@media screen and (max-width: 760px) {
  .nav .container {
    padding-top: 16px;
    padding-bottom: 16px;
    background-color: #f6f6f6;
    width: 100%;
  }
  .nav-select {
    border: none;
    background-color: transparent;
    outline: none;
  }
  .nav-option {
    font-family: Poppins;
    font-size: 15px;
    font-weight: 700;
    line-height: 22.5px;
    text-align: left;
  }
}
.menu {
  margin-top: 50px;
}
.menu .container {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 3fr;
  gap: 20px;
}
.menu__left {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 10px;
}
.menu__left-link {
  font-family: Open Sans;
  font-size: 14px;
  font-weight: 400;
  line-height: 19.07px;
  text-align: left;
  text-decoration: underline;
}
.menu__left-button {
  font-family: Poppins;
  font-size: 15px;
  font-weight: 700;
  line-height: 22.5px;
  text-align: left;
  border: none;
  padding: 5px;
  border-radius: 7px;
  width: 146.22px;
}
.menu__list {
  display: flex;
  width: 100%;
  justify-content: space-between;
  gap: 25px;
}
.menu__list__item {
  border-radius: 20px;
  background: linear-gradient(rgba(255, 255, 255, 0.1960784314), rgba(255, 255, 255, 0.3176470588)), url(../../images/menu.webp) no-repeat;
  width: 50%;
  height: 300px;
  padding-top: 50px;
  padding-left: 30px;
}
.menu__list__item-text {
  font-family: Poppins;
  font-size: 12px;
  font-weight: 600;
  line-height: 18px;
  text-align: left;
  color: #41843a;
  text-shadow: 0 0 7px #ffffff;
  min-width: 0;
}
.menu__list__item-title {
  font-family: Poppins;
  font-size: 22px;
  font-weight: 600;
  line-height: 33px;
  text-shadow: 0 0 7px;
  text-align: left;
  color: #0e0d0d;
  text-shadow: 0 0 7px #ffffff;
  padding-top: 10px;
}
.menu__list__item-button {
  min-width: 157px;
  font-family: Poppins;
  font-size: 15px;
  font-weight: 700;
  line-height: 22.5px;
  text-align: left;
  padding: 12px 16px;
  background-color: transparent;
  border-radius: 12px;
  border: 2.3px solid rgba(31, 79, 30, 0.6862745098);
  cursor: pointer;
  margin-top: 100px;
}

@media screen and (max-width: 950px) {
  .menu {
    margin-top: 50px;
  }
  .menu .container {
    width: 100%;
    display: flex;
    justify-content: space-between;
  }
  .menu__left {
    width: 30%;
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 10px;
  }
  .menu__list {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
    gap: 25px;
  }
  .menu__list__item {
    border-radius: 20px;
    background: linear-gradient(rgba(255, 255, 255, 0.1960784314), rgba(255, 255, 255, 0.3176470588)), url(../../images/menu.webp) no-repeat;
    width: 100%;
    height: 300px;
    padding-top: 0;
    padding-left: 50px;
    padding-right: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .menu__list__item-text {
    font-family: Poppins;
    font-size: 12px;
    font-weight: 600;
    line-height: 18px;
    text-align: left;
    color: #41843a;
    text-shadow: 0 0 7px #ffffff;
  }
  .menu__list__item-title {
    font-family: Poppins;
    font-size: 30px;
    font-weight: 700;
    line-height: 33px;
    text-shadow: 0 0 7px;
    text-align: left;
    color: #0e0d0d;
    text-shadow: 0 0 7px #ffffff;
    padding-top: 0;
    margin: 0 10px;
  }
  .menu__list__item-button {
    font-family: Poppins;
    font-size: 15px;
    font-weight: 700;
    line-height: 22.5px;
    text-align: left;
    padding: 12px 16px;
    background-color: transparent;
    border-radius: 12px;
    border: 2.3px solid rgba(31, 79, 30, 0.6862745098);
    cursor: pointer;
    margin-top: 0px;
  }
}
@media screen and (max-width: 645px) {
  .menu {
    margin-top: 50px;
  }
  .menu .container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .menu__left {
    width: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
  }
  .menu__left-title {
    text-align: center;
  }
  .menu__list {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
    gap: 25px;
  }
  .menu__list__item {
    border-radius: 20px;
    background: linear-gradient(rgba(255, 255, 255, 0.1960784314), rgba(255, 255, 255, 0.3176470588)), url(../../images/menu.webp) no-repeat;
    width: 100%;
    height: 300px;
    padding-top: 0;
    padding-left: 50px;
    padding-right: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .menu__list__item-text {
    font-family: Poppins;
    font-size: 12px;
    font-weight: 600;
    line-height: 18px;
    text-align: left;
    color: #41843a;
    text-shadow: 0 0 7px #ffffff;
  }
  .menu__list__item-title {
    font-family: Poppins;
    font-size: 30px;
    font-weight: 700;
    line-height: 33px;
    text-shadow: 0 0 7px;
    text-align: left;
    color: #0e0d0d;
    text-shadow: 0 0 7px #ffffff;
    padding-top: 0;
    margin: 0 10px;
  }
  .menu__list__item-button {
    font-family: Poppins;
    font-size: 15px;
    font-weight: 700;
    line-height: 22.5px;
    text-align: left;
    padding: 12px 16px;
    background-color: transparent;
    border-radius: 12px;
    border: 2.3px solid rgba(31, 79, 30, 0.6862745098);
    cursor: pointer;
    margin-top: 0px;
  }
}
@media screen and (max-width: 645px) {
  .menu {
    margin-top: 50px;
  }
  .menu .container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .menu__left {
    width: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
  }
  .menu__left-title {
    text-align: center;
    min-width: 170px;
  }
  .menu__left-link {
    text-align: center;
    min-width: 132px;
  }
  .menu__list {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
    gap: 25px;
  }
  .menu__list__item {
    border-radius: 20px;
    background: linear-gradient(rgba(255, 255, 255, 0.1960784314), rgba(255, 255, 255, 0.3176470588)), url(../../images/menu.webp) no-repeat;
    width: 100%;
    height: 300px;
    padding-top: 0;
    padding-left: 50px;
    padding-right: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .menu__list__item-text {
    font-family: Poppins;
    font-size: 12px;
    font-weight: 600;
    line-height: 18px;
    text-align: left;
    color: #41843a;
    text-shadow: 0 0 7px #ffffff;
  }
  .menu__list__item-title {
    font-family: Poppins;
    font-size: 30px;
    font-weight: 700;
    line-height: 33px;
    text-shadow: 0 0 7px;
    text-align: center;
    color: #0e0d0d;
    text-shadow: 0 0 7px #ffffff;
    padding-top: 0;
    margin: 0;
    margin-top: 20px;
    margin-bottom: 30px;
  }
  .menu__list__item-button {
    font-family: Poppins;
    font-size: 15px;
    font-weight: 700;
    line-height: 22.5px;
    text-align: left;
    padding: 12px 16px;
    background-color: transparent;
    border-radius: 12px;
    border: 2.3px solid rgba(31, 79, 30, 0.6862745098);
    cursor: pointer;
    margin-top: 0px;
  }
}