.menu {
  margin-top: 50px;
  margin-bottom: 70px;
  .container {
    width: 100%;

    display: grid;
    grid-template-columns: 1fr 3fr;
    gap: 20px;
  }

  &__left {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 10px;

    &-title {
      font-family: Poppins;
      font-size: 18px;
      font-weight: 600;
      line-height: 27px;
      text-align: left;
    }

    &-link {
      font-family: Open Sans;
      font-size: 14px;
      font-weight: 400;
      line-height: 19.07px;
      text-align: left;
      text-decoration: underline;
      color: $textt;
      &:hover {
        color: #000;
      }
    }

    &-button {
      font-family: Poppins;
      font-size: 15px;
      font-weight: 700;
      line-height: 22.5px;
      text-align: left;
      border: none;
      padding: 5px;
      border-radius: 7px;
      width: 146.22px;

      &:hover {
        background-color: $textt;
        color: $oq;
      }
    }
  }

  &__list {
    display: flex;
    width: 100%;
    justify-content: space-between;
    gap: 25px;

    &__item {
      border-radius: 20px;
      background: linear-gradient(
          rgba(201, 236, 131, 0.132),
          rgba(201, 236, 131, 0.132)
        ),
        url(../../images/photo1.png) no-repeat;

      width: 50%;
      height: 300px;
      padding-top: 50px;
      padding-left: 30px;
      &:hover {
        transform: scale(102%);
        transition: all 0.4s;

        box-shadow: 4px 5px 8px #00000013;
      }

      &-text {
        font-family: Poppins;
        font-size: 12px;
        font-weight: 600;
        line-height: 18px;
        text-align: left;
        color: $textt;
        text-shadow: 0 0 7px $oq;
        min-width: 0;
      }

      &-title {
        font-family: Poppins;
        font-size: 22px;
        font-weight: 600;
        line-height: 33px;
        text-shadow: 0 0 7px;
        text-align: left;
        color: $qora;
        text-shadow: 0 0 7px $oq;
        padding-top: 10px;
      }

      &-button {
        min-width: 157px;
        font-family: Poppins;
        font-size: 15px;
        font-weight: 700;
        line-height: 22.5px;
        text-align: left;
        padding: 12px 16px;
        background-color: transparent;
        border-radius: 12px;
        border: 2.3px solid #1f4f1eaf;
        cursor: pointer;
        margin-top: 100px;

        &:hover {
          background-color: #33d6b05f;
          color: #fff;
          border-color: transparent;
          text-shadow: 1px 1px 2px #ff00a2b0;
          transition: all 0.5s;
        }
      }
    }
  }
}

@media screen and (max-width: 950px) {
  .menu {
    margin-top: 50px;
    .container {
      width: 100%;

      display: flex;
      justify-content: space-between;
    }

    &__left {
      width: 30%;
      display: flex;
      flex-direction: column;
      align-items: start;
      gap: 10px;
    }

    &__list {
      display: flex;
      width: 100%;
      flex-direction: column;
      align-items: center;
      gap: 25px;

      &__item {
        border-radius: 20px;
        // background: linear-gradient(#ffffff32, #ffffff51),
        // url(../../images/menu.webp) no-repeat;

        width: 100%;
        height: 300px;
        padding-top: 0;
        padding-left: 50px;
        padding-right: 50px;
        display: flex;
        justify-content: space-between;
        align-items: center;

        &-text {
          font-family: Poppins;
          font-size: 12px;
          font-weight: 600;
          line-height: 18px;
          text-align: left;
          color: $textt;
          text-shadow: 0 0 7px $oq;
        }

        &-title {
          font-family: Poppins;
          font-size: 30px;
          font-weight: 700;
          line-height: 33px;
          text-shadow: 0 0 7px;
          text-align: left;
          color: $qora;
          text-shadow: 0 0 7px $oq;
          padding-top: 0;
          margin: 0 10px;
        }

        &-button {
          font-family: Poppins;
          font-size: 15px;
          font-weight: 700;
          line-height: 22.5px;
          text-align: left;
          padding: 12px 16px;
          background-color: transparent;
          border-radius: 12px;
          border: 2.3px solid #1f4f1eaf;
          cursor: pointer;
          margin-top: 0px;
        }
      }
    }
  }
}

@media screen and (max-width: 645px) {
  .menu {
    margin-top: 50px;
    .container {
      width: 100%;

      display: flex;
      flex-direction: column;
      align-items: center;
    }

    &__left {
      width: 30%;
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 10px;

      &-title {
        text-align: center;
      }
    }

    &__list {
      display: flex;
      width: 100%;
      flex-direction: column;
      align-items: center;
      gap: 25px;

      &__item {
        border-radius: 20px;
        // background: linear-gradient(#ffffff32, #ffffff51),
        // url(../../images/menu.webp) no-repeat;

        width: 100%;
        height: 300px;
        padding-top: 0;
        padding-left: 50px;
        padding-right: 50px;
        display: flex;
        justify-content: space-between;
        align-items: center;

        &-text {
          font-family: Poppins;
          font-size: 12px;
          font-weight: 600;
          line-height: 18px;
          text-align: left;
          color: $textt;
          text-shadow: 0 0 7px $oq;
        }

        &-title {
          font-family: Poppins;
          font-size: 30px;
          font-weight: 700;
          line-height: 33px;
          text-shadow: 0 0 7px;
          text-align: left;
          color: $qora;
          text-shadow: 0 0 7px $oq;
          padding-top: 0;
          margin: 0 10px;
        }

        &-button {
          font-family: Poppins;
          font-size: 15px;
          font-weight: 700;
          line-height: 22.5px;
          text-align: left;
          padding: 12px 16px;
          background-color: transparent;
          border-radius: 12px;
          border: 2.3px solid #1f4f1eaf;
          cursor: pointer;
          margin-top: 0px;
        }
      }
    }
  }
}

@media screen and (max-width: 645px) {
  .menu {
    margin-top: 50px;
    .container {
      width: 100%;

      display: flex;
      flex-direction: column;
      align-items: center;
    }

    &__left {
      width: 30%;
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 10px;

      &-title {
        text-align: center;
        min-width: 170px;
      }

      &-link {
        text-align: center;
        min-width: 132px;
      }
    }

    &__list {
      display: flex;
      width: 100%;
      flex-direction: column;
      align-items: center;
      gap: 25px;

      &__item {
        border-radius: 20px;
        // background: linear-gradient(#ffffff32, #ffffff51),
        // url(../../images/menu.webp) no-repeat;

        width: 100%;
        height: 300px;
        padding-top: 0;
        padding-left: 50px;
        padding-right: 50px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        &-text {
          font-family: Poppins;
          font-size: 12px;
          font-weight: 600;
          line-height: 18px;
          text-align: left;
          color: $textt;
          text-shadow: 0 0 7px $oq;
        }

        &-title {
          font-family: Poppins;
          font-size: 30px;
          font-weight: 700;
          line-height: 33px;
          text-shadow: 0 0 7px;
          text-align: center;
          color: $qora;
          text-shadow: 0 0 7px $oq;
          padding-top: 0;
          margin: 0;
          margin-top: 20px;
          margin-bottom: 30px;
        }

        &-button {
          font-family: Poppins;
          font-size: 15px;
          font-weight: 700;
          line-height: 22.5px;
          text-align: left;
          padding: 12px 16px;
          background-color: transparent;
          border-radius: 12px;
          border: 2.3px solid #1f4f1eaf;
          cursor: pointer;
          margin-top: 0px;
        }
      }
    }
  }
}
